%article
  %section#landing
    = image_tag 'mezzoeii.png', {id: 'mlogo'}
    #intro.rounded.shadow
      - if notice || alert
        #notice
          = notice || alert
          = t('contact_html')
      #survey
        .question{id: @init.first}
          = @init.last
        = submit_tag t('nono'), {class: 'btn'}
        = submit_tag t('yesyes'), {class: 'btn'}
        = hidden_field_tag "q_and_a"
        #coming_soon.hidden
          = form_for @user do |f|
            = f.hidden_field :survey
            %label.error#email_error{for: "user_email"}
            = f.text_field :email, type: 'email', placeholder: t('email_placeholder')
            = f.submit t('email_submit'), id: 'submit_email'



