!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{name: "viewpot", content: "width=device-width, inital-scale=1.0"}/
    %title
      = content_for?(:title) ? yield(:title) : "MEZZOE - COMING SOON"
    = favicon_link_tag('mfav.ico', type: 'image/x-icon')
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Raleway'
    = stylesheet_link_tag "application"
    = csrf_meta_tags

  %body
    - if content_for?(:header)
      %header= yield :header
    = yield
    -# use cdn to load jquery
    -#= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"
    = javascript_include_tag "application"
    = javascript_include_tag "http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"

